<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetByYash</title>
</head>
<body>
    <h1>Welcome to Meet By Yash</h1>
    <a href="/r"><button class="new-room">New Room</button></a>
</body>
</html>